@charset "UTF-8";

/* Typical Device Breakpoints
------------------------------
Pequenas telas: até 600px
Celular: de 600px até 768px
Tablet: 768px até 992px
Desktop: 992px até 1200px
Grandes telas: acima de 1200px
*/

@media screen and (min-width: 800px){
    header{
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.363);
        letter-spacing: 2px;
    }

    header > nav {
        display: flex;
        justify-content: right;
        margin-right: 50px;
    }

    header a{
        font-size: 25px;  

    }
    
    #menu{
        display: none;
    }

    nav a {
        display: inline;
        padding: 15px;
        margin-right: 20px;
        transition: .5s;
    }

    nav a:hover{
        transition: .5s;
        color: rgb(250, 81, 250);
    }

}

@media screen and (min-width: 650px){

    main{
        max-width: 1000px;
        margin: auto;
    }

    section#home{
        height: 100%;
        padding: 200px 30px;
        max-width: 1000px;
        display: flex;
        justify-content: flex-start;
    }

    section#home > h1{
        font-size: 2.5em; 
        text-align: left;   
    }

    h2 {
        font-size: 2em;
    }

    #homebuttons{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        
    }

    #homebuttons a{
        display: inline-block;
        flex-direction: row;
        margin: 30px;
    }

    section#historia{
        max-width: 800px;
        margin: auto;
        margin-top: 100px;
    }

}