@charset "UTF-8";

/* Typical Device Breakpoints
------------------------------
Pequenas telas: até 600px
Celular: de 600px até 768px
Tablet: 768px até 992px
Desktop: 992px até 1200px
Grandes telas: acima de 1200px
*/


@media screen and (min-width: 650px){
    main{
        max-width: 800px;
        margin: auto;
    }


    header{
        border-bottom: 1px solid rgba(255, 255, 255, 0.466);
    }

    #menu{
        display: none;
    }
    nav#nav{
        display: flex;
        justify-content: right; 
        font-size: 1.3em;  
    }
    nav a {
        padding: 15px;
        margin-right: 20px;
        transition: .5s;
    }

    nav a:hover{
        transition: .5s;
        box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.459);
    }

    section#home{
        height: 100%;
        padding: 200px 30px;
        max-width: 800px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin:auto;

    }

    section#home > h1{
        text-align: left;
        font-size: 2em;
    }

    #homebuttons{
        display: flex;
        flex-direction: column;
        width: 150px;
        justify-content: space-around;
    }

    h2 {
        font-size: 2em;
    }


    section#historia{
        max-width: 800px;
        margin: auto;
        margin-top: 100px;
    }

}