@charset "UTF-8";

/* Typical Device Breakpoints
------------------------------
Pequenas telas: até 600px
Celular: de 600px até 768px
Tablet: 768px até 992px
Desktop: 992px até 1200px
Grandes telas: acima de 1200px
*/

@media screen and (min-width: 1050px){
    main{
        max-width: 1300px;
        margin: auto;
    }

    div#gif{
        display: inline;
        float: right;
        margin-top: 200px;
        margin-right: 50px;
    }

    div#gif img{
        width: 400px;
        border-radius: 20px;

    }

    section#home{
        height: 100%;
        max-width: 1300px;
        display: inline-block;
        width: max-content;
        margin-top: 200px;

    }
    section#home > h1{
        font-size: 2.3em; 
        text-align: left;
    }

    h1{
        width: max-content;
    }

    h2 {
        font-size: 2em;
    }

    #homebuttons{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        
    }

    #homebuttons a{
        display: inline-block;
        flex-direction: row;
        margin: 30px;
    }

    section#historia{
        max-width: 800px;
        margin: auto;
        margin-top: 300px;
    }
}


@media screen and (min-width: 650px) and (max-width: 1050px){

    main{
        max-width: 1000px;
        margin: auto;
    }

    section#home{
        height: 100%;
        max-width: 1000px;
        display: flex;
        padding-top: 200px;
    }

    section#home > h1{
        font-size: 2.3em; 
        text-align: center;
    }


    h2 {
        font-size: 2em;
    }

    #homebuttons{
        display: flex;
        flex-direction: row;
        justify-content: center;

        
    }

    #homebuttons a{
        display: flex;
        flex-direction: row;
        margin: 30px;
        justify-content: center;

    }

    section#historia{
        max-width: 800px;
        margin: auto;
        margin-top: 300px;
    }

}




@media screen and (min-width: 800px){

    header{
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.363);
        letter-spacing: 2px;
    }

    header > nav {
        display: flex;
        justify-content: right;
        margin-right: 50px;
    }

    header a{
        font-size: 25px;  

    }
    
    #menu{
        display: none;
    }

    nav a {
        display: inline;
        padding: 15px;
        margin-right: 20px;
        transition: .5s;
    }

    nav a:hover{
        transition: .5s;
        color: rgb(250, 81, 250);
    }

}

